{% extends "base.html" %}
{% block content %}

<!-- Accounts and Statistics -->
<div class="row">
    <!-- Active accounts -->
    <div class="col">
        <h4>Accounts</h4>
        <table class="table table-sm table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Account name</th>
                    <th class="text-right">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.account }}</td>
                        <td class="text-right">{{ account.full_balance }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Statistics -->
    <div class="col">
        <h4>Statistics</h4>
        <table class="table table-sm table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Group</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for i in inc %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td class="text-right">{{ i[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div>
        <a href="{{ url_for('transaction.transaction', tr_type='minus') }}">Minus</a>
    </div>
</div>
<div class="row">
    <div>
        <a href="{{ url_for('transaction.transaction', tr_type='plus') }}">Plus</a>
    </div>
</div>
<div class="row">
    <div>
        <a href="{{ url_for('transaction.transfer') }}">Transfer</a>
    </div>
</div>


{% endblock %}
